﻿
@{
    ViewBag.Title = "Hero";
}
<style>
    #heros {
        text-decoration-line: underline;
    }
</style>
<h2>My Heros</h2>
<ul id="list-group">
    <li class="list-group-item"><a href="#">Natasha Romanoff</a></li>
    <li class="list-group-item"><a href="#">Iron Man</a></li>
    <li class="list-group-item"><a href="#">Captain America</a></li>
    <li class="list-group-item"><a href="#">Deadpool</a></li>
    <li class="list-group-item"><a href="#">Spider-Man</a></li>
</ul>
<div>My hero is <span id="heros"></span></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>
    $('#list-group a').click(function (e) {
        $('#heros').text(e.target.innerText)
    })

</script>
