﻿@model WEB.Models.ListPosts
@{
    ViewBag.Title = "Posts";
}

<h2>POSTS</h2>
<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">userId</th>
                            <th scope="col">title</th>
                            <th scope="col">body</th>
                        </tr>
                    </thead>
                    <tbody>
                          @{
                              foreach (var item in Model.list)
                              {
                                <tr>
                                    <td>@item.id</td>
                                    <td>@item.userId</td>
                                    <td>@item.title</td>
                                    <td>@item.body</td>
                                </tr>
                              }
                           }
                    </tbody>
                </table>
                </div>
                </div>
                </div>


