﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h5>5. จงเขียนโปรแกรม เพื่อแสดงตามรูปด้านล่าง</h5>
    <div style="text-align: center; font-size: 20px;">
        @{ int loop = 4;
            int i;
            int j;
            int sloop;
            var p = "";
            for (i = 1; i <= loop; i++)
            {
                //p += i;
                sloop = loop - i;

                for (j = 1; j <= sloop; j++)
                {
                    p += "\t";
                }

                for (j = 1; j <= loop - sloop; j++)
                {
                    p += "*";
                }

                for (j = loop - sloop - 1; j >= 1; j--)
                {
                    p += "*";
                }

                //p += "\n";
                <div>@p</div>
                p = "";

            }
        }
        @{ int lp = 3;
            int k;
            int l;
            int slp;

            for (k = lp; k >= 1; k--)
            {
                //p += k;
                slp = lp - k;
                p += " ";
                for (l = 1; l <= slp; l++)
                {
                    p += "\t";
                }

                for (l = 1; l <= lp - slp; l++)
                {
                    p += "*";
                }

                for (l = lp - slp - 1; l >= 1; l--)
                {
                    p += "*";
                }

                <div>@p</div>
                p = "";


            }

        }

    </div>

</div>
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        lead
        for (i = 1; i <= rows; ++i)
            for (space = 1; space <= rows - i; ++space)
                print("  ")
        while (k != 2 * i - 1)
            printf("* ")
        ++k
        k = 0
        print("\n")
      
      /*  var result = 0.5 * (5 * 5);*/
    })

</script>*@
